@import 'nib'
@import 'jeet'
@import 'rupture'

.avatar{
        position:fixed;
        top:150px;
        width:100px;
        height:100px;
        border-radius:50%;
        background-color:teal;
        left:20px;
    }